*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


#appMainContainer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: black;
  /* justify-content: center; */
}
#appContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 200;
  /* justify-content: center; */
}