#statisticsSetion{
    background-color: white;
    width: 100vw;
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#statisticsSetion > h1{
    color:black;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
}

#statisticsContainer{
    height: 500px;
    width: 90%;
    margin: 0px auto;
    overflow: auto;
}


.statisticsBox{
    /* background-color:red; */
}

@media (max-width: 730px) {


    #statisticsSetion > h1{
        font-size: 2.5rem;
    }
    
    #statisticsContainer{
        height: 500px;
        width: 100%;
        margin: 0px auto;
        overflow: auto;
    }

}


@media (max-width: 600px) {
    #statisticsContainer{
        height: 400px;
        width: 100%;
        margin: 0px auto;
        overflow: auto;
    }

}